<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.githubuserapp_2">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_github"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_github"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui.DetailUsersActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:windowSoftInputMode="adjustPan|adjustResize" />
        <activity
            android:name=".ui.SplashScreenActivity"
            android:theme="@style/SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>